:2016 {
    root * /root/caddy
    file_server browse
}

:443 {
    log {
	output stdout
    }
    tls /root/caddy/cntest.pem /root/caddy/cntest.key
    reverse_proxy /matrix_chat http://localhost:8083 {
        transport http {
            read_buffer 1m
            write_buffer 1m
        }
    }
    reverse_proxy /grpc/* http://[::1]:8082 {
        transport http {
            # read_buffer 1k
            # write_buffer 1k
            versions h2c
        }
    }
    reverse_proxy /* http://127.0.0.1:1313 {
    	header_up X-Real-IP {remote_remote}
    	header_up X-Forwarded-For {remote_remote}
    	header_up X-Forwarded-Proto {scheme}
    }
}

:10201 {
    log {
	output stdout
    }
    tls /root/caddy/cntest.pem /root/caddy/cntest.key
    reverse_proxy /matrix_chat /dev/shm/xhttp_client_upload.sock {
        transport http {
            read_buffer 1m
            write_buffer 1m
        }
    }
    reverse_proxy /grpc/* http://[::1]:8082 {
        transport http {
            # read_buffer 1k
            # write_buffer 1k
            versions h2c
        }
    }
    reverse_proxy /* http://127.0.0.1:1313 {
    	header_up X-Real-IP {remote_remote}
    	header_up X-Forwarded-For {remote_remote}
    	header_up X-Forwarded-Proto {scheme}
    }
}